{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
  <h1>About</h1>
  <H2>helolofdlsafjdl</H2>
</div>
<h3>This small web applet was created by a team during MHacks12</h3>
<p>Always being confused about laundry symbols and never being able to remember the correct ones, this small applet idea came to mind. Originally, it was supposed to be implemented through Google Glass as an AR product. However, due to time constraints, this applet was born. Development for future releases will be dependent on time .</p>

{% endblock %}
