{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}


<div class="page-header">
  <h1>Laundrowat</h1>
</div>
<div>
  <p class="intro">Laundrowat aims to simplify the laundry experience by providing easier access and quick detection of common laundry symbols</p>
</div>
<div class="intro2">
  <h2>Try out our tool below!</h2>
  <p>The following tool currently only works with picture uploads of stable, clear images. Further features will be added soon!</p>
</div>


<!-- <body>
  <div class="container">
    <video autoplay="true" id="videoElement">

    </video>
  </div>
  <script>
  var video = document.querySelector("#videoElement");
  if (navigator.mediaDevices.getUserMedia) {
  navigator.mediaDevices.getUserMedia({ video: true })
    .then(function (stream) {
      video.srcObject = stream;
    })
    .catch(function (err0r) {
      console.log("Something went wrong!");
    });
  }
  </script>
</body> -->

<video id="video" width="640" height="480" autoplay></video>
<button id="snap">Snap Photo</button>
<canvas id="canvas" width="640" height="480"></canvas>

<script>
var video = document.getElementById('video');

if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
    // Not adding `{ audio: true }` since we only want video now
    navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
        //video.src = window.URL.createObjectURL(stream);
        video.srcObject = stream;
        video.play();
    });
}

var canvas = document.getElementById('canvas');
var context = canvas.getContext('2d');
var video = document.getElementById('video'); 



// Trigger photo take
document.getElementById("snap").addEventListener("click", function() {
  var dataURL=canvas.toDataURL("inputimage.png");
  window.open(dataURL);
});
</script>

{% endblock %}
